.checkbox {
   position: relative;

   // .checkbox__input
   &__input {
      position: absolute;
      width: 0;
      height: 0;
      opacity: 0;
      &:checked + .checkbox__label:before {
         background: url("@img/svg/check.svg") center / contain no-repeat,
            linear-gradient(108.74deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.06) 100%);
      }
   }
   // .checkbox__label
   &__label {
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      position: relative;
      gap: 10px;
      &:before {
         content: "";
         background: linear-gradient(108.74deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.06) 100%);
         box-shadow: 0px 0px 50px -25px rgba(0, 0, 0, 0.5);
         backdrop-filter: blur(50px);
         width: 30px;
         height: 30px;
         flex-shrink: 0;
         border-radius: 5px;
         border: 3px solid rgba(255, 255, 255, 0.2);
      }
   }
   // .checkbox__text
   &__text {
      line-height: math.div(18, 15);
   }
}
