//<FORM>
// Сніппет (HTML):
.form {
  // .form__items
  &__items {
    display: grid;
    gap: rem(15);
    &:not(:last-child) {
      margin-bottom: rem(26);
      @media (max-width: $mobile) {
        margin-bottom: rem(15);
      }
    }
  }
  // .form__item
  &__item {
    position: relative;
    &._form-focus {
      .form__label {
        font-size: rem(11);
        top: 3px;
      }
    }
    &._fill {
      .form__label {
        font-size: rem(11);
        top: 3px;
      }
    }
    &._form-error {
      .form__label {
        color: #fff;
      }
    }
  }
  // .form__label
  &__label {
    position: absolute;
    transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);
    font-size: rem(15);
    left: 20px;
    top: 20px;
    color: #b6b6b6;
    line-height: math.div(18, 15);
  }
  &__complete {
    display: inline-block;
    background: linear-gradient(
      108.74deg,
      rgba(255, 255, 255, 0.16) 0%,
      rgba(255, 255, 255, 0.04) 100%
    );
    border-radius: 5px;
    height: rem(50);
    padding: 5px;
    min-width: rem(216);
    span {
      display: flex;
      align-items: center;
      gap: rem(20);
      font-weight: 600;
      padding: 10px;
      background: linear-gradient(
        90deg,
        #02549f 0%,
        #014c91 20.56%,
        #002e58 100%
      );
      border-radius: 3px;
      img {
        width: 20px;
        height: 20px;
        flex-shrink: 0;
      }
    }
  }
}
//</FORM>

// <BUTTONS>
// Сніппет (HTML): btn
@import 'button';

// <INPUTS>
// Сніппет (HTML): inp
@import 'input';

// <CHECK>
// Сніппет (HTML): chk
@import 'checkbox';

// <RADIO>
// Сніппет (HTML): opt
@import 'radio';

// <SELECT>
// Сніппет (HTML): sel
@import 'select';

// <RATING>
// Сніппет (HTML): rating
// @import "rating";

// <QUANTITY>
// Сніппет (HTML): qa
// @import "quantity";

// <RANGE>
// Сніппет (HTML):
// @import "range";

// <CALENDAR>
// Сніппет (HTML):
// @import "datepicker";
